/* Global Styles for UI-cards (homepage) */
.image-container:hover .title-text, .image-container:hover .svg-icon {scale: 1.04; transition: scale 0.1s ease-in;}
.image-container:hover, .image-container2:hover {scale: 1.03;}

/* Homepage and UI-card styles for mobile  */
@media screen and (max-width: 767px) {
.homePage-container { background-color: #1e1e1f;}
.card-divider {padding-left: 0.8em; padding-right: 0.8em;}
.card-container {display: block; height: 36em;}
.UI-card-divider {padding-top: 1.2em; z-index: 300;}   
#shadow-dynamic-app .UI-card-divider { padding-top: 2.4em;}   
#shadow-dynamic-app .card-container {height: 44em;}  

/* For profile photos */
.image-container img {width: 100%; height: 30em; object-fit: cover; border-radius: 2px; box-shadow: 2px 2px 5px rgba(19, 19, 19, 0.1), 4px 4px 10px rgba(28, 28, 28, 0.2);}
.image-container {position: relative; display: flex; flex-direction: column; width: 80%; padding-left: 1.6em; }

/* For illustration */
.image-container2 img {width: 100%; height: 30em; object-fit: cover; border-radius: 2px;}
.image-container2 {position: relative; display: flex; scale: 1.02; flex-direction: column; z-index: 1; width: 80%; padding-left: 10%;}

/* Link hit box styles */
.ui-link-3::after {content: ''; position: absolute; top: 0; width: 89%; margin-left: 11%; border-radius: 2px; left: 0; height: 30em; background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.753));}
.ui-link, .ui-link-3 {width: 100%;}
#shadow-dynamic-app .image-container img, #shadow-dynamic-app .image-container2 img, #shadow-dynamic-app .ui-link-3::after { height: 36em;} 

/* Card title and icon */
h-name, h-name a {flex-grow: 1; display: flex; justify-content: space-between; align-items: center; position: relative; color: white; margin-top: auto; z-index: 10; bottom: 1.35em; }
.title-text { padding-left: 16px; position: absolute;} 
.svg-icon { width: 0.9em; height: 1em; padding-right: 16px; display: inline-block; margin-left: auto;} .svg-icon:hover {transform: translateX(2px); transition: transform 150ms ease-out;}
#shadow-dynamic-app .svg-icon { height: 1.3em;}  
}

/* Homepage and UI-card styles for tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
.homePage-container {background-color: #1a1a1a;}
.card-divider {padding-left: 0.8em; padding-right: 0.8em;}
.UI-card-divider {top: 24em; position: relative; padding-top: 5.6em; z-index: 300; display: grid; grid-template-columns: repeat(2, 1fr); padding-left: 6%; padding-right: 6%;}   
.card-container {margin-top: -26em; display: block; height: 100%; }
 
/* For profile photo */
.image-container img {height: 30em; width: 80%; margin-left: 10%; object-fit: cover; border-radius: 2px; box-shadow: 0 4px 6px rgba(32, 32, 32, 0.08), 0 1px 3px rgba(33, 34, 32, 0.08);}
.image-container {position: relative; display: flex; flex-direction: column;}

/* For illustration */
.image-container2 img {height: 30em; width: 80%; margin-left: 10%; object-fit: cover; border-radius: 2px; object-fit: cover;}
.image-container2 {position: relative; display: flex; flex-direction: column; z-index: 1;}

/* Link hit box styles */
.ui-link-3::after {width: 80%; margin-left: 10%; height: 30em; content: ''; position: absolute; border-radius: 2px; top: 0; left: 0; background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.753));}
.ui-link {width: 100%;}

/* Card title and icon */
h-name, h-name a {padding-left: 6%; width: 84%; flex-grow: 1; display: flex; justify-content: space-between; align-items: center; position: relative; color: white; margin-top: auto; z-index: 10; bottom: 1.2em; padding-right: 0px;}
.title-text {padding-left: 16px; position: absolute;}
.svg-icon {width: 1em; height: 1em; padding-right: 20px; display: inline-block; margin-left: auto;} .svg-icon:hover {transform: translateX(2px); transition: transform 150ms ease-out;}
#shadow-dynamic-app .title-text {padding-left: 20px;}
#shadow-dynamic-app .svg-icon {padding-right: 2%; transform: translateY(-3px); width: 1.1em; } 
#shadow-dynamic-app .homePage-container {background-color: transparent;}
#shadow-dynamic-app .UI-card-divider {top: 18.6em; padding-left: 3.6em; padding-right: 3.6em;}
#shadow-dynamic-app .image-container img,  #shadow-dynamic-app .image-container2 img, #shadow-dynamic-app .ui-link-3::after {height: 24em; width: 76%; margin-left: 12%;} 
#shadow-dynamic-app .card-container {padding-bottom: 1.4em !important; margin-top: -20em;}
}


/* Homepage and UI-card styles for desktop */
@media screen and (min-width: 1025px) {
.homePage-container {background-color: #1a1a1a;}
.card-divider {padding-left: 0.8em; padding-right: 0.8em;}
.UI-card-divider {top: 26.4em; position: relative; padding-top: 4.4em; z-index: 300; display: grid; grid-template-columns: repeat(3, 1fr); gap: 32px;}   
.card-container {margin-top: -28em; display: block; height: 100%; padding-bottom: 4.6em;}

/* For profile photo */
.image-container img {width: 92%; object-fit: cover; height: 28em; border-radius: 4px; box-shadow: 0 4px 6px rgba(32, 32, 32, 0.08), 0 1px 3px rgba(33, 34, 32, 0.08);}
.image-container {position: relative; display: flex; flex-direction: column;}

/* For illustration */
.image-container2 img {width: 92%; height: 28em; object-fit: cover; border-radius: 4px;}
.image-container2 {position: relative; display: flex; flex-direction: column; z-index: 1;}

/* Link hit box styles */
.ui-link-3::after {content: '';position: absolute; border-radius: 4px; top: 0; left: 0; width: 92%; height: 28em; background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0.753));}
.ui-link {width: 100%;}

/* Card title and icon */
h-name, h-name a {width: 90%; flex-grow: 1; display: flex; justify-content: space-between; align-items: center; position: relative; color: white; margin-top: auto; z-index: 10; bottom: 1.2em; padding-right: 0px;}
#shadow-dynamic-app h-name, #shadow-dynamic-app h-name a {width: calc(98% - 20px); bottom: 1.325em;}
.title-text {padding-left: 32px; position: absolute;}
#shadow-dynamic-app .title-text{padding-left: 24px;}
.svg-icon {width: 1.05em; height: 1em; padding-right: 24px; display: inline-block; margin-left: auto; position: relative; top: -4px;} .svg-icon:hover {transform: translateX(2px); transition: transform 150ms ease-out;}

/* Shadow app stylé */
#shadow-dynamic-app .homePage-container {background-color: transparent;}
#shadow-dynamic-app .UI-card-divider {top: 24em; padding-left: 11em; padding-right: 11em;}
#shadow-dynamic-app .image-container img,  #shadow-dynamic-app .image-container2 img, #shadow-dynamic-app .ui-link-3::after {height: 28em;} 
#shadow-dynamic-app .card-container {padding-bottom: 2.4em !important; margin-top: -28em;}
}

@media screen and (min-width: 2025px) {
.image-container img, .image-container2 img {height: 44em; width: 90%; margin-left: 6%;}
#shadow-dynamic-app .image-container img,  #shadow-dynamic-app .image-container2 img, #shadow-dynamic-app .ui-link-3::after {height: 44em;} 
.card-container {margin-top: -28em; display: block; height: 100%; margin-bottom: -9.6em;}
.ui-link-3::after {margin-left: 6%; height: 44em; width: 90%;} 
#shadow-dynamic-app .ui-link-3::after {width: 90%;}
#shadow-dynamic-app .UI-card-divider {padding-top: 7.4em;}
.UI-card-divider {padding-top: 4.2em;}
#shadow-dynamic-app h-name, #shadow-dynamic-app h-name a {width: 90%;}
h-name, h-name a {width: 95%;}
#shadow-dynamic-app .svg-icon {height: 1.2em;}
.title-text { padding-left: calc(6% + 1.2em);}
.ui-link-2 .custom-card-2 .svg-icon { padding-right: calc(7% + 1.2em);}
h-name, h-name a {bottom: 1.6em;}
 }