/* Nav menu */
.nav-menu { user-select: none !important; -webkit-user-select: none !important; -ms-user-select: none !important; -webkit-user-drag: none !important; -khtml-user-drag: none !important; -moz-user-select: none !important; -o-user-select: none !important; pointer-events: none !important; padding-bottom: 12px; display: flex; justify-content: space-between; align-items: center; position: fixed; width: 100%; padding-bottom: 16px; z-index: 2000; }
.nav-left { width: 50%; display: flex; justify-content: flex-start; padding-left: 16px; }
.nav-right { padding: 24px; gap: 28px; display: flex; justify-content: flex-end; width: fit-content; pointer-events: all; }
.logo-svg { display: block; user-select: none; }
.icon-svg { cursor: pointer; transition: transform 0.2s ease; user-select: none; }
.icon-svg:hover { transform: scale(1.1); }
.title-lottie { width: 10.6em; pointer-events: all; }
.title-lottie:hover { scale: 1.02; padding-left: 0.06em; }
.github-lottie { width: 2.1em; pointer-events: all !important; user-select: none; }
.linkedin-lottie { width: 2.1em; pointer-events: all !important; user-select: none; }
.github-lottie:hover { scale: 1.03; }
.linkedin-lottie:hover { scale: 1.03; }

/* View Project */
.view-project-wrapper { position: fixed; width: 100%; display: flex; z-index: 1200; flex-direction: row; flex-wrap: wrap; justify-content: center; pointer-events: none; bottom: 2dvh; }
.view-project-btn { position: relative; overflow: hidden; background-color: transparent; display: flex; align-items: center; color: #f0f0f0; border: none; cursor: pointer; pointer-events: all; transition: gap 0.1s ease; padding: 8px 32px 4px 32px; }
.view-project-btn > * { position: relative; z-index: 1; }
a.view-project-btn, button.view-project-btn { -webkit-appearance: none; appearance: none; background: transparent; border: 0; box-sizing: border-box; display: inline-flex; align-items: center; text-decoration: none; font: inherit; line-height: 1; gap: 16px;}
.view-project-background { backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); opacity: 1; transition: opacity 0.2s ease, backdrop-filter 0.2s ease; }
.view-project-background.no-bg { backdrop-filter: none; -webkit-backdrop-filter: none; opacity: 0; background-color: transparent; }
.view-project-btn h2 { text-shadow: 0px 0px 24px rgb(29 29 33); }
.view-project-icon { width: 1.25rem; height: 1.25rem; }
.view-project-arrow { width: 2.4em; }
.arrow-svg { filter: drop-shadow(0 0px 8px rgba(0, 0, 0, 0.6)); }

/* Hover styles */
.view-project-btn:hover .project-view { transform: scale(1.02); }
.view-project-btn:hover .view-project-arrow { transform: scale(1.05); }
.view-project-btn:hover { gap: 1.46em; }

/* Split Handler for block 1 */
@media (orientation: landscape) { .drag-arrow { padding-left: 1em; padding-right: 1em; } }
@media (orientation: portrait) { .drag-arrow { padding-left: 2em; padding-right: 2em; } }

/* Tool bar overlay */
.react-tooltip { border-radius: 0px !important; padding: 4px 8px 8px 4px; border: none !important; box-shadow: none !important; backdrop-filter: blur(10px); -webkit-backdrop-filter: blur(10px); z-index: 1000; font-size: 100% !important; }
.tooltip-tag { pointer-events: none; display: flex; flex-direction: column; }
.tooltip-hidden { opacity: 0 !important; pointer-events: none !important; }

/* Media Queries */
[data-prehydrate] .view-project-btn { padding: 30px 88px 0px 88px; } /* only for mobile */
@media (max-width: 767px) {
  .view-project-wrapper { bottom: 2dvh; }
  .view-project-btn { padding: 8px 32px 4px 32px; }
  a.view-project-btn { padding: 8px 32px 4px 32px; }
  .arrow-svg { filter: drop-shadow(0 0px 10px rgba(0,0,0,0.6)); }
  .view-project-arrow { width: 2.8em; }
  .title-lottie { width: 10.4em !important; pointer-events: all; }
  .github-lottie { width: 2.6em !important; }
  .linkedin-lottie { width: 2.6em !important; }
  .split-arrow svg {transform: scale(0.82) !important; }
  .pane-placeholder { height: 98dvh;}
}

@media (orientation: portrait) and (max-width: 1024px) and (min-width: 768px) {
  .split-arrow { scale: 1; }
  .view-project-wrapper { bottom: 40px; }
}

@media (orientation: landscape) and (max-width: 1024px) and (min-width: 768px) {
  .split-arrow { scale: 0.8; }
  .view-project-wrapper { bottom: 24px; }
}

@media (max-width: 1024px) and (min-width: 768px) {
  [data-prehydrate] .view-project-btn { padding: 44px 96px 0px 96px; }
  .view-project-wrapper { bottom: 8dvh !important; }
  .view-project-btn {padding: 10px 44px 6px 44px;}
  .nav-menu { padding-bottom: 8px; }
  .arrow-svg { filter: drop-shadow(0 0px 14px rgba(0,0,0,0.6)); }
  .github-lottie { width: 2.4em !important; }
  .linkedin-lottie { width: 2.4em !important; }
  .title-lottie { width: 11.2em !important; }
  .pane-placeholder { height: 92dvh;}
}

@media (min-width: 1025px) {
  [data-prehydrate] .view-project-btn { padding: 28px 120px 0px 120px; }
  button.view-project-btn.is-focused, button.view-project-btn.no-bg.is-focused { padding: 4px 40px 0px 32px; }
  button.view-project-btn.is-focused div.view-project-arrow svg, button.view-project-btn.no-bg.is-focused div.view-project-arrow svg  {transform: scaleX(-1) !important;}
  .view-project-btn { padding: 12px 36px 8px 44px; gap: 1.5em; }
  .view-project-arrow { width: 3em !important; }
  .github-lottie { width: 2.6em !important; }
  .linkedin-lottie { width: 2.6em !important; }
  .title-lottie { width: 11.8em !important; }
  .view-project-wrapper { bottom: 4dvh !important; }
  .nav-menu { padding-bottom: 4px; }
  .nav-right { padding-right: 28px; gap: 24px !important; }
  .arrow-svg { filter: drop-shadow(0 0px 18px rgba(0,0,0,0.6)); }
  .split-arrow { scale: 0.6; left: -0.6em; position: relative;}
  .pane-placeholder { height: 96dvh;}
}

.SnappyScrollThingy.focus-locked {overscroll-behavior: contain; }
.SnappyScrollThingy.no-smooth { scroll-behavior: auto !important; }
.SnappyScrollThingy.no-snap        { scroll-snap-type: none !important; }
.SnappyScrollThingy.snap-proximity { scroll-snap-type: y proximity !important; }
.SnappyScrollThingy.snap-strong    { scroll-snap-type: y mandatory !important; }

#landing[data-prehydrate] .SnappyScrollThingy {
  scroll-snap-type: none !important;
}