/* Sort by filtering styles for mobile devices */
/* Global */
.sort-by-divider {padding-left: 1.6em; padding-right: 1.6em; display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-end; z-index: 350; position: relative; }
.lottie-container {cursor: pointer;} 
.custom-dropdown:hover div.selected-value, .custom-dropdown:hover span.custom-arrow {scale: 1.02; transition: ease-in 0.1s;}
.students-heading, .sort-container, .selected-value h5 {pointer-events: none; user-select: none; touch-action: none;}
div.option.selected {background-color: #323235;}

/* Sort by filtering for mobile devices */
@media screen and (max-width: 370px) {
#shadow-dynamic-app .sort-container2, .sort-container2 {min-width: 130% !important;}
}
@media screen and (max-width: 767px) { 
/* Sort by general styles */    
#sort {width: 100%; height: 14.4vw; border-radius: 1px; padding-left: 16px;}
.sort-by-container {width: clamp(48%, 48vw, 48%); display: flex; align-items: center; z-index: 10; position: relative;flex-direction: column; align-items: center; padding-right: 12px; padding-top: 8px;}
.sort-container2 {min-width: 100%; align-items: center;} 

#shadow-dynamic-app .sort-container , .sort-container {display: none;}

#shadow-dynamic-app  .sort-container2 {min-width: 120%; align-items: center;}

.sort-by-divider, #shadow-dynamic-app .sort-by-divider {gap: 24px; flex-direction: column; align-items: center; padding-left: 0em; padding-right: 0.4em;}

/* Drop-down */
.custom-dropdown {border-radius: 2px; position: relative; cursor: pointer; background: #222222; 
appearance: none; -webkit-appearance: none; -moz-appearance: none;}

/* Arrow state */
.custom-arrow {position: absolute; right: 18px; top: 50%; transform: translateY(-50%); pointer-events: none;}
.custom-arrow div {width: 17px; height: 17px;}
.custom-arrow.open {transform: translateY(-50%) rotate(180deg);}

/* Selected option style changes */
.selected-value {padding: 18px 18px 18px 22px;}
.option, div.option.selected {color: #ffffff; margin-top: 2px; margin-bottom: 2px; font-size: clamp(16px, 0.8em, 32px); font-family: 'rubik'; font-weight: 300; letter-spacing: 0.4px; padding-left: 16px; }
.option {padding-bottom: 8px; padding-top: 8px;}
.option:hover {scale: 1.02; transition: 0.05s ease-in; transform: translateX(2px);}
div.option.selected:hover {scale: 1; transform: translateX(0px);}
.option {padding-bottom: 12px; padding-top: 12px;} div.option.selected {padding-top: 16px; padding-bottom: 16px;}
.options-container {position: absolute; z-index: 1000; background: #202020; width: 100%; right: -1.8px;  top: calc(100% - 8px); padding-top: 8px; padding-bottom: 8px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;}

#shadow-dynamic-app div.option.selected {padding-bottom: 10px; padding-top: 10px;} 
#shadow-dynamic-app .option, #shadow-dynamic-app  div.option.selected {font-size: clamp(14px, 0.75em, 28px);}
/* Students Heading */
.students-heading {position: relative; top: 24px; }

/* Pause Button styles */
.pause-button-wrapper {padding-bottom: 3.6em; padding-left: 1.6em; }
#shadow-dynamic-app .pause-button-wrapper {padding-bottom: 2.4em;}
.lottie-container {width: 2.4em; height: 2.4em; z-index: 100; position: relative; top: 1.2em;}
#shadow-dynamic-app .lottie-container {width: 3em; height: 3em; top: 0.8em;}
}

/* Sort by filtering for tablet devices */
@media screen and (min-width: 768px) and (max-width: 1024px) { 
/* Sort by general styles */  
#shadow-dynamic-app .sort-by-divider {padding-left: 4em; padding-right: 6.2em; }
.sort-by-divider {padding-top: 2.8em; padding-left: 2.8em; padding-right: 5.4em; z-index: 350; position: relative;}
#sort {width: 100%; height: 14.4vw; border-radius: 1px; padding-left: 16px;}
.sort-by-container {display: flex; align-items: center; z-index: 10; position: relative;flex-direction: column; align-items: center; padding-right: 16px; min-width: 26%;}
#shadow-dynamic-app .sort-by-container {min-width: 32%;}
.sort-container2 {min-width: 100%; align-self: flex-end;} 
.sort-container {align-self: flex-start; position: relative; bottom: -6px; left: 4px;}

/* Drop-down */
.custom-dropdown {border-radius: 2px; position: relative; font-size: 16px; cursor: pointer; box-shadow: 12px 12px #b1c9bb; background: #222222; 
appearance: none; -webkit-appearance: none; -moz-appearance: none; }

/* Arrow state */
.custom-arrow {position: absolute; right: 20px; top: 50%; transform: translateY(-50%); pointer-events: none;}
.custom-arrow div {width: 15px; height: 15px;}
#shadow-dynamic-app .custom-arrow div {width: 1em; height: 1em;}
#shadow-dynamic-app .custom-arrow {top: 46%;}
#shadow-dynamic-app .custom-arrow.open {top: 50%;}
.custom-arrow.open {transform: translateY(-50%) rotate(180deg);}

/* Selected option style changes */
.selected-value {padding: 16px 16px 16px 20px;}
#shadow-dynamic-app .selected-value {padding: 12px 12px 12px 16px;}
.option, div.option.selected {color: #ffffff; font-size: clamp(8px, 1em, 16px); font-family: 'rubik'; font-weight: 300; letter-spacing: 0.4px; padding-left: 20px;}
#shadow-dynamic-app div.option.selected {padding-top: 12px; padding-bottom: 12px; }
#shadow-dynamic-app .option {padding-bottom: 10px; padding-top: 10px;}
#shadow-dynamic-app .option.selected, #shadow-dynamic-app .option {font-size: clamp(6px, 0.9em, 14px); padding-left: 14px;}
.option:hover {scale: 1.02; transition: 0.05s ease-in; transform: translateX(2px);}
div.option.selected:hover {scale: 1; transform: translateX(0px);}
.option {padding-bottom: 16px; padding-top: 16px;} div.option.selected {padding-top: 18px; padding-bottom: 18px;}
.options-container {position: absolute; z-index: 1000; background: #222222; width: 100%; right: -1.6px;  top: calc(100% - 6px); padding-top: 8px; padding-bottom: 8px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;}

/* Students Heading */
.students-heading {position: relative; top: 36px; left: 0.7em;}
#shadow-dynamic-app .students-heading { left: 0.75em;}

/* Pause Button styles */
#shadow-dynamic-app .pause-button-wrapper, .pause-button-wrapper {padding-bottom: 4em; padding-left: 2.4em;}
#shadow-dynamic-app .lottie-container {width: 2.6em; height: 2.6em;}
.lottie-container {width: 2.4em; height: 2.4em; z-index: 100; position: relative;}
}

/* Sort by filtering for desktop */
@media screen and (min-width: 1025px) { 
/* Sort by general styles */  
.sort-by-divider {padding-right: 3.2em; padding-top: 3.2em;}
#sort {width: 100%; height: 14.4vw; border-radius: 1px; padding-left: 16px;}
.sort-by-container {display: flex; z-index: 10; position: relative; flex-direction: column; align-items: center; padding-right: 0px; width: 50%;}
.sort-container2 {width: clamp(50%, 3.6em, 240px); align-self: flex-end;} 
.sort-container {width: clamp(50%, 3.6em, 240px); align-self: flex-end; position: relative; bottom: -4px; left: 4px;}

/* Drop-down */
.custom-dropdown {position: relative; cursor: pointer; box-shadow: 12px 12px #b1c9bb; background: #222222; 
appearance: none; -webkit-appearance: none; -moz-appearance: none; border-radius: 2px;}
/* Arrow state */
.custom-arrow {position: absolute; right: 24px; top: 50%; transform: translateY(-50%); pointer-events: none;}
.custom-arrow div {width: 16px; height: 16px;}
.custom-arrow.open {transform: translateY(-50%) rotate(180deg);}

/* Selected option style changes */
.selected-value {padding: 18px 13px 20px 22px;}
.option, div.option.selected {color: #ffffff; margin-top: 2px; margin-bottom: 2px; font-size: clamp(16px, 1.4em, 20px); font-family: 'rubik'; font-weight: 300; letter-spacing: 0.4px; padding-left: 20px;}
.option:hover {scale: 1.02; transition: 0.05s ease-in; transform: translateX(2px);}
div.option.selected:hover {scale: 1; transform: translateX(0px);}
.option {padding-bottom: 10px; padding-top: 10px;} div.option.selected {padding-top: 16px; padding-bottom: 16px;}
.options-container {position: absolute; z-index: 1000; background: #222222; width: 100%; right: -1.6px;  top: calc(100% - 8px); padding-top: 8px; padding-bottom: 8px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;}

/* Students Heading */
.students-heading {position: relative; top: 28px;}

/* Pause Button styles */
.pause-button-wrapper {padding-left: 24%; padding-top: 24px;}
.lottie-container {width: 2.4em; height: 2.4em; z-index: 100; position: relative;}
#shadow-dynamic-app .lottie-container {width: 2.6em; height: 2.6em; z-index: 100;}

#shadow-dynamic-app .sort-by-container {transform: scale(0.8);}
#shadow-dynamic-app .sort-by-divider {padding-left: 10.6em; padding-right: 11.4em; padding-bottom: 1.6em; padding-top: 0px;}
#shadow-dynamic-app .sort-container2, #shadow-dynamic-app .sort-container  {min-width: 176px;} 
#shadow-dynamic-app .custom-arrow {top: 50%;}
#shadow-dynamic-app .pause-button-wrapper {padding-left: 16.8em; padding-top: 2.4em;}
#shadow-dynamic-app .students-heading {left: 0px;}
#shadow-dynamic-app span.custom-arrow.open {transform: translateY(-50%) rotate(180deg) !important; top: 50% !important;}
}

@media screen and (min-width: 1175px) and (max-width: 1574px) {
.sort-container, .sort-container2 {width: clamp(50%, 3em, 240px);}
}

@media screen and (min-width: 1575px) and (max-width: 2024px) {
.sort-container, .sort-container2 {width: clamp(40%, 3em, 240px);}
}

@media screen and (min-width: 2025px) { 
#shadow-dynamic-app .sort-by-container {transform: scale(0.95) !important;}
#shadow-dynamic-app .sort-container2, #shadow-dynamic-app .sort-container {min-width: 33% !important;}
.sort-by-container {transform: scale(1.1) !important; align-content: flex-end; flex-wrap: wrap; margin-right: 3%;}
.sort-container2, .sort-container {min-width: 30% !important; width: clamp(30%, 3em, 240px);}
.sort-by-divider {padding-top: 96px; padding-left: 4%; padding-right: 4%;}
#shadow-dynamic-app .sort-by-divider {padding-left: 8em; padding-right: 8em; padding-top: 16em !important; padding-bottom: 1.2em; padding-top: 0px;}
.selected-value {padding: 16px 14px 16px 21px;}
#shadow-dynamic-app .students-heading {left: 48px;}
.sort-by-divider {padding-top: 256px;}
.lottie-container {width: 4.2m; height: 4.2em;}
}